<div class="nested-fields">
  <div class="field">
    <%= f.label :cdg_ordem_pessoa %>
    <%= f.text_field :cdg_ordem_pessoa %>
  </div>

  <%= link_to_remove_association "remover pessoa", f %>

  <br><br><br>
</div>