<h1>Bem vindo ao Jumpstart!</h1>
<p class="lead">

Use esse documento como uma maneira de iniciar rapidamente um novo projeto.
<br> Tudo que você tem é esse texto e esqueletos de documentos HTML. </p>
